<html>
<head>
  <title>Contact</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<% include ./navbar.ejs %>
<body>
  <% if (contacts.length > 0) { %>
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
      </br>
      </br>
      </div>
    </div>
    <div class="row col-xl-8">
      <a href="/newContact" class="btn btn-primary" role="button">Add a New Contact</a>
    </div>
    </br>
    <div class="row col-xl-8">
      <h3>Existing Contacts</h3>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Additional Details</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < contacts.length; i++) {%>
          <tr>
            <td><%- contacts[i].name -%></td>
            <td><%- contacts[i].phoneNumber -%></td>
            <td><a href='/contactDetails/<%- contacts[i].id -%>/edit'>Details</a></td>
          </tr>
        <% }%>
      </tbody>
    </table>
      <ul class="pagination justify-content-center">
        <% if (previousPage) { %>
          <li class="page-item"><a class="page-link" href="/contacts/<%= previousPage%>">Previous</a></li>
        <% } %>
        <li class="page-item active"><a class="page-link" href="/contacts/<%= currentPage%>"><%- currentPage%></a></li>
        <% if (nextPage) {%>
          <li class="page-item"><a class="page-link" href="/contacts/<%= nextPage%>">Next</a></li>
        <%}%>
      </ul>
  </div>
  <%} else {%>
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
        </br>
        </br>
        </div>
      </div>
      <div class="row col-xl-8">
        <a href="/newContact" class="btn btn-primary" role="button">Add a New Contact</a>
      </div>
      </br>
      <div class="row col-xl-8">
        <h3>No Contacts found please create some</h3>
      </div>
    </div>
  <% } %>
  <div class="container">
    
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" integrity="sha256-dHf/YjH1A4tewEsKUSmNnV05DDbfGN3g7NMq86xgGh8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $("#login-form").submit(function(e) {
        e.preventDefault();
        var postData = {
          phoneNumber: document.getElementById("phoneNumber").value,
          password: document.getElementById("password").value
        }
        var url = 'http://127.0.0.1:50000/api/login';
        $.ajax({
          type: "POST",
          url: url,
          data: postData,
          success: function(data) {
            console.log('successfully logged in');
          },
          dataType: 'json'
        });
      });
    </script>
  </body>
  </html>
